.sidebar-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 60px 20%;
    color: white;
    /* height: 100vh; */
    /* width: 100vw; */
    background-color: rgba(35, 48, 0, 0.8);
   
    
}