@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&family=Lato:wght@100;300;400&family=Open+Sans:ital,wght@0,300;1,400&family=Playfair+Display&family=Rufina:wght@400;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  /* font-family: 'Rufina', serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html{
  font-family: 'Rufina', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}