.jumbo{
    background-image: url("../../../../public/Image-menu.png");
    object-fit: cover;
    background-size: cover;
    background-position: center;
    height: 90vh;
    margin-top: 0;
    color: white;
    font-family: 'Rufina', serif;
}
.intro{
    margin-left: 10vw;
}

.small{
    font-weight: 400;
}

.large{
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0px;
}

/********************** Starters - Patries styles ******************************/

.starter{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0px;
}

.header{
    text-align: center;
    font-family: 'Rufina', serif;
    margin-right: 180px;
}

.header-r{
    text-align: center;
    font-family: 'Rufina', serif;
    margin-top: 0px;
}

.starter-r{
    margin-bottom: 50px;
}

.head{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 0px;
}

.subtitle{
    font-weight: 400;
    color: #4D4D4D;
}

.blueberry{
    height: 250px;
}
/***** food ******/
.food{
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    /* position: relative;
    bottom: 40px; */
    margin-top: -15px;
}

.food-r{
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
}

.plate{
    height: 80vh;
    width: 48%;
    margin-right: 10%;
}

.listing{
    width: 48%;
}

.price{
    font-weight: bold;
    text-align: right;
    border-bottom: dashed black 2px;
    padding-bottom: 10px;
    font-family: 'Rufina', serif;
}

.food-name{
    font-weight: 700;
    font-size: 25px;
    font-family: 'Rufina', serif;
    margin-bottom: 0px;
    margin-top: 5px;
}

.food-desc{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin-bottom: 40px;
}

.plate-r{
    height: 80vh;
    width: 48%;
    margin-left: 10%;
}

.avocado{
    height: 200px;
    margin-top: -150px;
    margin-left: 100px;
    z-index: -1;
}

.pastries{
    margin-top: 120px;
}
.wines{
    padding-bottom: 120px;
}

/************************* Reservation styles *********************************/

.reservation{
    background-color: #EBF0E4;
    padding-top: 2%;
}

form{
    text-align: center;
}

.form-flex{
    display: flex;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
}

.inputs{
    width: 30%;
    height: 40px;
    background-color: transparent;
    border: 1px solid black;
}

.inputs:active{
    border: solid 1px #233000;
    border-radius: 2px;
}

.book{
    font-family: 'Rufina', serif;
    height: 40px;
    width: 13%;
    margin-top: 5%;
    margin-bottom: 10%;
    background-color: #233000;
    color: white;
    border: solid 1px #233000;
}

.book:hover{
    background-color: transparent;
    color: #233000;
}

.touch{
    margin-bottom: 5%;
}

@media screen and (max-width: 600px){
.reserve{
    font-size: 30px;
}
.book{
    width: 20%;
}
}